*{
    font-family: monospace ;
}
body{
    background-color: #f0f8ff;
    margin: 0;
    font-size: 15px;
}
header{
    color: white;
    height:100vh;
    background-color: #2196F3;
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}  
h1{
    font-size: 50px;
    color: #2196F3;
}
header h1{
    text-align: center;
    font-size: 50pxpx;
    color: white;
    margin: 0;
    
}
a{
    text-decoration: none;
}
.button{
    margin: 10px;
    height: 40px;
    width: 140px;
    border: none;
    border-radius: 10px;
    cursor: pointer;
}
.button:hover{
    color: white;
    background-color: darkblue;
}
img{
    height: 200px;
}
section{
    height: 100vh;
    border: 1px solid grey;
    border-radius: 20px;
    margin-bottom: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 6px;
}
.buttonsubmit{
    height: 40px;
    width: 140px;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    color: white;
    background-color: #2196F3;
}   
buttonsubmit:hover{
    background-color: #08508c;
}
input{
    border-radius:5px ;
    border: 1px solid lightgrey;
    height: 25px;
}
.fixedbutton{
        height: 70px;
        width: 70px;
        border-color: black;
        border-radius:50%;
        cursor: pointer;
        color: white;
        background-color: #2196F3;
        position: fixed;
        bottom: 10px;
        right: 10px;
    }   
footer{
    height: 124px;
    background-color: black;
    color: lightgrey;
    display: flex;
    justify-content: center;
    align-items: center;
}
div header{
    border: 1px solid grey;
    border-radius: 20px;
    margin-bottom: 20px;
}
